<h1>Hello there, <%= current_user.name %></h1>

<p>Here are your favorite Roasters and Beverages</p>

<% @roasters.each do |roaster| %>
    <hr><br>
    <a href="/roasters/<%= roaster.id %>/beverages/new"><button>Add Beverage</button></a>
    <h3><%= roaster.name %></h3><a href="/roasters/<%= roaster.id %>/beverages/new"></a>
    <h5><%= roaster.address %></h5><br>
    <ul>
    <% roaster.beverages.each do |beverage| %>
        <h4><a href="/beverages/<%= beverage.id %>"><%= beverage.name %></h4></a>
        <br>
        <br>
    <% end %>
    </ul>
<% end %>
<hr><br>
<a href="/roasters/new"><button>Add Roaster</button></a>
<a href="/logout"><button>Log Out</button></a>