<h1>Hello there, <%= current_user.name %></h1>

<p>Here are your favorite Roasters and Beverages</p>

<% @roasters.each do |roaster| %>
    <hr><br>
    <a href="/roasters/<%= roaster.id %>/beverages/new"><button>Add Beverage</button></a>
    <a href="/roasters/:roaster_id/beverages/edit"><button>Edit Beverage</button></a>
    <a href=""><button>Delete Beverage</button></a>
    <h3><%= roaster.name %></h3><a href="/roasters/<%= roaster.id %>/beverages/new"></a>
    <h5><%= roaster.address %></h5><br>
    <ul>
    <% roaster.beverages.each do |beverage| %>
        <h4>   Name: <%= beverage.name %></h4>
        <li>   Ingredients: <%= beverage.ingredients %></li>
        <li>   Size: <%= beverage.size %></li><br>
    <% end %>
    </ul>
<% end %>
<hr><br>
<a href="/roasters/new"><button>Add New Roaster</button></a>
<a href="/logout"><button>Log Out</button></a>