<h1>Hello there, <%= current_user.name %></h1>

<p>Here are your favorite Beverages and Roasters</p>

<% @roasters.each do |roaster| %>
    <h4><%= roaster.name %></h4><a href="/roasters/<%= roaster.id %>/beverages/new"><button>Add Beverage</button></a>
    <h4><%= roaster.address %></h4><br>
    <ul>
    <% roaster.beverages.each do |beverage| %>
        <h5>   Name: <%= beverage.name %></h5>
        <li>   Ingredients: <%= beverage.ingredients %></li>
        <li>   Size: <%= beverage.size %></li><br>
    <% end %>
    </ul>
<% end %>

<form action="/logout" method="POST">
    <input type="submit" value="Log Out">
</form>
